<!DOCTYPE html>
<html>
<head>
  <title>Raaganveshana</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="hero-unit text-center">Raagas in Indian Film Music</div>

<%= yield %>

  
  <div class="footer text-center">
	<p>&copy; 808Labs 2014</p>
  </div>

</body>
</html>
